# folders
.vscode/**
.vscode-test/**
src
out
node_modules
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.vsix

# Specific files
.gitignore
webpack.config.js
CONTRIBUTING.md
package-lock.json

# Special exclusions
images
!images/icon.png
vsc-extension-quickstart.md
!node_modules/highlight.js/styles
