<!DOCTYPE html>
<html>

<head>
	<base href="VSCODE_PRINT_BASE_URL" />
	<title>VSCODE_PRINT_DOCUMENT_TITLE</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	VSCODE_PRINT_STYLESHEET_LINKS
	VSCODE_PRINT_SCRIPT_TAGS
	<script type="text/javascript">
		function printAndClose(enabled) {
			if (enabled) {
				window.addEventListener("afterprint", (event) => {
					fetch("completed").then(window.close);
				});
				setTimeout(window.print, 500);
			}
		} 
	</script>
</head>

<body onload="printAndClose(VSCODE_PRINT_PRINT_AND_CLOSE)">
	VSCODE_PRINT_DOCUMENT_HEADING
	<div>
		VSCODE_PRINT_CONTENT
	</div>
</body>

</html>