html,
body {
	margin: 0;
	padding: 0;
	tab-size: TAB_SIZE;
}

.hljs {
	background-color: unset;
}

.line-number,
.line-text,
h3 {
	font-family: FONT_FAMILY;
	font-size: FONT_SIZE;
	hyphens: auto;
	hyphenate-character: "↩";
	line-height: LINE_SPACINGem;
}

pre.plaintext {
	font-family: FONT_FAMILY;
	font-size: FONT_SIZE;
	hyphens: auto;
	line-height: LINE_SPACINGem;
	padding-bottom: 3px;
	white-space: pre-wrap;
}
