html,
body {
	tab-size: TAB_SIZE;
}

.hljs {
	font-family: FONT_FAMILY;
	font-size: FONT_SIZE;
}

.line-number,
.line-text,
h3.filepath {
	font-family: FONT_FAMILY;
	font-size: FONT_SIZE;
	line-height: LINE_SPACINGem;
}

pre.plaintext {
	font-family: FONT_FAMILY;
	font-size: FONT_SIZE;
	line-height: LINE_SPACINGem;
}

.page-break-control {
  break-after: PAGE_BREAK;
}
